<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>



        <!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<Configuration status="info">-->
<!--    <Properties>-->
<!--        <property name="pattern_console">%d{HH:mm:ss yyy-MM-dd} [%t] %-5level %logger{5} - %msg%n</property>-->
<!--        <property name="pattern_file">%d{HH:mm:ss yyy-MM-dd} [%t] %-5level %logger{5} - %msg%n</property>-->
<!--    </Properties>-->
<!--    <TresholdFilter level="trace"/>-->

<!--    <Appenders>-->
<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="${pattern_console}"/>-->
<!--        </Console>-->
<!--        <File name="logfile" filename="logs/logfile.txt" bufferedIO="true">-->
<!--            <PatternLayout pattern="${pattern_file}"/>-->
<!--        </File>-->
<!--    </Appenders>-->

<!--&lt;!&ndash;    <RollingFile name="File" fileName="logs/text_log.log" append="true"&ndash;&gt;-->
<!--&lt;!&ndash;                 filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log">&ndash;&gt;-->
<!--&lt;!&ndash;        <PatternLayout pattern="${pattern_file}"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <Policies>&ndash;&gt;-->
<!--&lt;!&ndash;            <SizeBasedTriggeringPolicy size="100 KB"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </Policies>&ndash;&gt;-->
<!--&lt;!&ndash;        <DefaultRolloverStrategy max="10"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </RollingFile>&ndash;&gt;-->

<!--    <Loggers>-->
<!--        <Root level="info">-->
<!--            <Appender-ref ref="Console"/>-->
<!--            <Appender-ref ref="logfile"/>-->
<!--        </Root>-->
<!--    </Loggers>-->
<!--</Configuration>-->